@font-face {
    font-family: 'LineSeed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'LineSeed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'LineSeed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0 0;
    overflow-x: hidden;
}


#Nav_wrap{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:  0 20px;
    border-bottom: solid 1px #E5E5E5;

    font-family: 'LineSeed';
    font-size: 16px;
    font-weight: bold;

    box-sizing: border-box;

    .logo{
        font-size: 22px;
    }

    .nav_item{
        padding-left: 40px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        gap: 90px;
    }

    .language{
        display: flex;
        justify-content: center;
        gap: 5px;
    }
}


#Line_wrap{
    width: 100%;
    font-family: 'LineSeed';

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1{
            font-size: 70px;
        }

        .text{
            text-align: center;
            color: #5b5b5b;
        }

    }

    .section2{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        gap: 200px;

        .content1{
            display: flex;
            justify-content: center;
            align-items: center;

            .content1_left{
                display: flex;
                flex-direction: column;

                .logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;
                border-radius: 10px;
                border: solid 1px #d8d8d8;
                font-weight: bold;

                .logo_bar{
                    margin-top: 2px;
                    width: 20px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: #27BB49;
                }
            }

                h1{
                    margin-bottom: 0;
                    font-size: 40px;
                }

                .text{
                    color: #5b5b5b;

                    .color{
                        color: #27BB49;
                    }

                }

                .more{
                    margin-top: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border: solid 1px #d8d8d8;
                    border-radius: 5px;
                    width: 140px;
                    height: 50px;
                }

            }

            .content1_right{
                img{
                    width: 700px;
                    height: 450px;
                }
            }
        }


        .content2{
            display: flex;
            justify-content: center;
            align-items: center;

            .content2_left{
                img{
                    width: 700px;
                    height: 450px;
                }
            }


            .content2_right{
                display: flex;
                flex-direction: column;

                .logo{
                    
                    img{
                        border-radius: 10px;    
                        width: 70px;
                        height: 70px;
                    }
                }
        

                h1{
                    margin-bottom: 0;
                    font-size: 40px;
                }

                .text{
                    color: #5b5b5b;

                    .color{
                        color: #27BB49;
                    }

                }

                .icon{
                    margin-top: 50px;
                    display: flex;
                    gap: 5px;


                    #icon_frame{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: solid 1px #d8d8d8;
                        border-radius: 5px;
                        width: 50px;
                        height: 50px;
                    }

                    .more{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border: solid 1px #d8d8d8;
                        border-radius: 5px;
                        width: 140px;
                        height: 50px;
                        }
                }
            }

        }

        
            
        }

        .section3{
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            background-color:#f6f5f5;

             .content_img{
                width: 350px;
            }


            h1{
                padding-top: 100px;
                font-size: 70px;
            }

            .text{
                text-align: center;
                color: #5b5b5b;
            }

            .content{
                margin-top: 100px;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 30px;

                .content_top{
                    display: flex;
                    justify-content: center;
                    gap: 100px;

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h1{
                            padding-top: 10px;
                            font-size: 25px;
                        }

                        p{
                            font-size: 14px;
                            color: #5b5b5b;
                            text-align: center;
                        }
                    }
                }

                .content_bottom{
                    display: flex;
                    justify-content: center;
                    gap: 100px;

                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        h1{
                            padding-top: 10px;
                            font-size: 25px;
                        }

                        p{
                            font-size: 14px;
                            color: #5b5b5b;
                            text-align: center;
                        }
                    }
                }
                
            }

            .banner{
                margin-top: 170px;

                .banner_text{
                    position: absolute;
                    left: calc(50% - 80px);
                }

                h1{
                    font-size: 45px;
                    color: #fff;;
                }
            }
            
        }

        .section4{
            .content1{

                h1{
                    text-align: center;
                    padding-top: 100px;
                    font-size: 60px;
                    margin-bottom: 15px;
                }

                .text{
                    text-align: center;
                    color: #5b5b5b;
                    font-size: 20px;
                }
            }

            .content2{
                margin: 50px 100px;
                display: flex;
                justify-content: left;
                gap: 180px;

                .card_box{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;

                    .box{
                        display: flex;
                        gap: 40px;
                    }
                }
            }

        }
}

#Footer_wrap{    
    width: 100%;
    height: 100px;
    background-color: #fff;
    font-family: 'LineSeed';
    font-size: 12px;
    display: flex;
    flex-direction: column;

    padding: 70px 140px;
    margin-bottom: 100px;

    .content_top{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 15px;

        border-bottom: solid 1px #b2b2b2;
        padding-bottom: 35px;

        div{
            margin: 0 0;
            display: flex;
            align-items: center;
            gap: 5px;
            height: 15px;
        }

        .line{
            margin: 0 0;
            width: 45px;
            height: 45px;
            border-radius: 10px;
        }

        #line{
            border-right: solid 1px #b2b2b2;
            padding-right: 15px;
            
        }
    }

    .content_bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 35px;

        display: flex;
        align-items: center;
        gap: 10px;

        div{
            margin: 0 0;
            display: flex;
            gap: 20px;
        }

        .text1{
            padding-right: 20px;
        }

        .icon{
            margin: 0 0;
        }

        #line{
            border-right: solid 1px #b2b2b2;
            padding-right: 20px;
        }
    }
}


// Service component

#Category_wrap{
    font-family: 'LineSeed';
    font-weight: bold;
    font-size: 12px;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 40px;

        span{
            width: 100%;
            border: 1px solid #b2b2b2;
            border-radius: 20px;
            color: #5b5b5b;
            padding: 10px 15px;

        }

    }
}

#Card_wrap{
    font-family: 'LineSeed';
    
    #card{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 30px 30px;

        width: 265px;
        height: 340px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        img{
            border-radius: 15px;
            width: 70px;
            height: 70px;
        }

        .text{
            display: flex;
            flex-direction: column;
            align-items:baseline;

            h1{
                margin: 0;
                font-size: 24px;
            }

            p{
                font-size: 14px;
                color:#5b5b5b;
            }
        }

    }
}