@font-face {
    font-family: 'LineSeed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'LineSeed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'LineSeed';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    padding: 0 0;
    overflow-x: hidden;
}


#Nav_wrap{
    position: fixed;
    z-index: 1000;
    background-color: #fff;

    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:  0 30px;
    border-bottom: solid 1px #E5E5E5;

    font-family: 'LineSeed';
    font-size: 16px;
    font-weight: 700;
    color: rgb(30,30,30);

    box-sizing: border-box;

    .logo{
       img{
        width: 43px;
        height: 16px;
       }
    }

    .nav_item{
        display: flex;
        justify-content: center;
        gap: 80px;
        font-size: 16px;
    }

    .language{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;
        font-size: 14px;

        .lang_icon{
            width: 20px;
            height: 20px;
        }

        .lang_icon2{
            width: 10px;
            height: 6px;
        }
    }
}


#Line_wrap{
    width: 100%;
    font-family: 'LineSeed';

    .section1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        h1{
            font-size: 70px;
            margin-bottom: 20px;
        }

        .text{
            margin-top: 8px;
            font-weight: 400;
            font-size: 20px;
            text-align: center;
            color: rgb(97, 97, 97);
        }

    }

    .section2{
        position: relative;
        margin-top: 280px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .line{
            bottom: calc(0% + 10px);
            position: absolute;
            z-index: 1;

            display: flex;
            flex-direction: column;
            align-items: center;

            width: 1px;
            height: 1433px;
            border: 0.9px dashed rgba(30, 30, 30, 0.3);

            #circle{
                position: absolute;
                z-index: 2;
                width: 10px;
                height: 10px;
                background-color: #fff;
                border: 1px solid rgba(30, 30, 30, 0.3);
                border-radius: 50%;
            }

            .circle1{
                top: calc(0% - 10px);
            }

            .circle2{
                top: calc(50% - 10px);
            }

            .circle3{
                position: absolute;
                z-index: 2;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border: 1px solid rgba(30, 30, 30, 0.3);
                border-radius: 50%;

                top: 100%;
            }
        }

        .content1{
            padding-left: 135px;
            display: flex;
            align-items: center;

            .content1_left{                
                padding-left: 40px;
                width: 490px;
                height: 451px;

                display: flex;
                flex-direction: column;

                .logo{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 70px;
                    height: 70px;
                    border-radius: 10px;
                    border: solid 1px #d8d8d8;
                    font-weight: bold;

                    .logo_bar{
                    margin-top: 2px;
                    width: 20px;
                    height: 5px;
                    border-radius: 5px;
                    background-color: rgb(7, 181, 59);
                    }
                }

                h1{
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-size: 40px;
                }

                .text{
                    margin-bottom: 60px;

                    .color{
                        line-height: 1.56;
                        color: rgb(7, 181, 59);
                    }
                    
                        P{
                            line-height: 1.7;
                            margin: 0;
                            font-size: 18px;
                            font-weight: 500;
                            color: rgb(119,119,119);

                        
                    }

                }

                .more{
                    width: 142px;
                    height: 60px;
                    border-radius: 4px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    border: solid 1px rgba(0, 0, 0, 0.15);
                    
                    
                    img{
                        margin-top: 5px;
                        width: 28px;
                        height: 28px;
                    }


                    p{
                        font-size: 14px;
                    }
                    
                    
                }

            }

            .content1_right{
                padding-right: 45px;

                img{
                    width: 880px;
                    height: 560px;
                }
            }
        }


        .content2{
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 160px;

            .content2_left{
                padding-left: 4px;

                img{
                    width: 880px;
                    height: 560px; 
                }
            }


            .content2_right{
                width: 490px;
                height: 451px;

                display: flex;
                flex-direction: column;

                .logo{

                    img{
                        border-radius: 10px;    
                        width: 70px;
                        height: 70px;
                    }
                }
        

                h1{
                    line-height: 1.2;
                    margin-bottom: 20px;
                    font-size: 40px;
                }

                .text{
                    margin-bottom: 60px;

                    .color{
                        line-height: 1.56;
                        color: rgb(7, 181, 59);
                    }
                    
                        P{
                            line-height: 1.7;
                            margin: 0;
                            font-size: 18px;
                            font-weight: 500;
                            color: rgb(119,119,119);
                    }

                }

                .icon{
                    display: flex;
                    gap: 5px;

                    img{
                        width: 28px;
                    }

                    #icon_frame{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: solid 1px rgba(0, 0, 0, 0.15);
                        border-radius: 5px;
                        width: 60px;
                        height: 60px;
                    }

                    .more{
                        width: 142px;
                        height: 60px;
                        border-radius: 4px;

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border: solid 1px rgba(0, 0, 0, 0.15);

                        img{
                            margin-top: 5px;
                            width: 28px;
                            height: 28px;
                        }
                        }
                }
            }

        }

        
            
        }

        .section3{
            padding: 180px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color:rgba(247, 248, 249);

             .content_img{
                width: 360px;
                height: 270px;
            }

            h1{
                font-size: 60px;
                margin-bottom: 12px;
            }

            .text{
                font-size: 20px;
                text-align: center;
                color: #616161;
            }

            .content{
                display: flex;
                flex-direction: column;
                padding-top: 70px;
                padding-left: 135px;
                padding-right: 135px;

                .content_top{
                    display: flex;
                    justify-content: center;

                    .content1, .content2{
                        margin-right: 60px;
                    }

                    #content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        margin-bottom: 36px;

                        h1{
                            margin-top: 36px;
                            margin-bottom: 12px;
                            font-size: 24px;
                        }

                        p{
                            text-align: center;
                            font-size: 14px;
                            color: #616161;
                        }

                        

                    }

                    
                }

                .content_bottom{
                    display: flex;
                    justify-content: center;

                    .content4, .content5{
                        margin-right: 60px;
                    }

                    #content{
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        margin-bottom: 36px;

                        h1{
                            margin-top: 36px;
                            margin-bottom: 12px;
                            font-size: 24px;
                        }

                        p{
                            text-align: center;
                            font-size: 14px;
                            color: #616161;
                        }

                    }
                }
            }
            

            .banner{
                margin-top: 180px;
                position: relative;
                width: 100%;
                height: 320px;

                .banner_text{
                    position: absolute;
                    z-index: 10; 
                    top: calc(50% - 31px);
                    left: calc(50% - 85px);

                    h1{
                        font-size: 46px;
                    }
                }

                h1{
                    margin-top: 0;
                    margin-bottom: 0;
                    padding: 0;
                    font-size: 45px;
                    color: #fff;; 
                }

                .banner_img{

                    img{
                        position: relative;
                        z-index: 1;
                    }

                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }
            
        }

        .section4{
            padding: 0 135px;
            padding-bottom: 200px;
            display: flex; 
            flex-direction: column; 
            background-color:rgba(247, 248, 249);

            .content1{
                margin-bottom: 60px;

                h1{
                    text-align: center;
                    font-size: 60px;
                    font-weight: 700;
                    margin-top: 0;
                    margin-bottom: 20px;
                }

                p{
                    font-size: 20px;
                    text-align: center;
                    font-weight: 500;
                    color:rgb(97, 97, 97);
                    margin: 0;
                }
            }

            .content2{
                display: flex;
                justify-content: space-between;
                
                .card_box{
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 40px;                                
                }
            }

        }
}

#Footer_wrap{    
    width: 100%;
    height: 100px;
    background-color: #fff;
    font-family: 'LineSeed';
    font-size: 12px;
    display: flex;
    flex-direction: column;

    padding: 30px 140px;
    margin-bottom: 100px;

    div>img{
        width: 20px;
        height: 20px;
    }

    .content_top{
        width: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 14px;
        font-size: 13px;

        border-bottom: solid 1px #b2b2b2;
        padding-bottom: 30px;

        div{
            margin: 0 0;
            display: flex;
            align-items: center;
            height: 15px;
        }

        .line{
            margin: 0 0;
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        #line{
            border-right: solid 1px #b2b2b2;
            padding-right: 15px;
            
        }
    }

    .content_bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 36px;

        display: flex;
        align-items: center;
        gap: 10px;

        div{
            margin: 0 0;
            display: flex;
            gap: 14px;
        }

        .text1{
            font-size: 13px;
            padding-right: 20px;
        }

        .icon{
           img{
            width: 30px;
            height: 22px;
           }
        }

        #line{
            border-right: solid 1px #b2b2b2;
            padding-right: 14px;
        }
    }
}


// Service component

#Category_wrap{
    font-family: 'LineSeed';
    font-weight: 700;
    font-size: 13px;
    cursor: pointer;

    //card 스크롤
    position: sticky; 
    top: 180px;
    height: fit-content;

    ul{
        display: flex;
        flex-direction: column;
        list-style: none;
        gap: 36px;

        li{

            span{
                width: 100%;
                border: 1px solid rgb(30, 30, 30, 0.2);
                border-radius: 50px;
                color: rgb(30, 30, 30, 0.7);
                padding: 8px 14px;
            }
        }

    }

    .category li.active span{
        background-color: #07b53b; 
        border: 1px solid #07b53b; 
        color: white; 
    }
}


#Card_wrap{
    font-family: 'LineSeed';
    
    #card{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 30px 35px;

        width: 270px;
        height: 340px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        img{
            border-radius: 15px;
            width: 70px;
            height: 70px;
        }

        .text{
            display: flex;
            flex-direction: column;
            align-items:baseline;

            h1{
                margin: 0;
                font-size: 22px;
                line-height: 1.182;
                margin-bottom: 8px;
            }

            p{
                font-size: 14px;
                line-height: 1.429;
                color:rgb(97, 97, 97);
            }
        }

    }
}